.search {
	border-bottom: 1px solid ;
}

.searchForm {
	padding: 10px;
}

.search input {
	background-color: transparent;
	border: none;
	color: white;
	outline: none;

}

.search input::placeholder {
  color: rgb(255, 255, 219);
}

.userChat {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: white;
	cursor: pointer;
}

.userChat:hover {
	background-color: rgb(253, 255, 141);
	color: black;
}

.userChat img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

@media screen and (max-width: 1250px) {
	.userChat img {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		object-fit: cover;
	}
}